<html>
	<body>
		<form action = "/" method = "post">
			<p>
			<input type = "textfield" name="second_element" />
			<input type = "submit" value="suma" name="suma"/>
			</p>

			<p>
			<input type = "submit" value = "resta" name="resta"/>
			</p>

			<p>
			<input type = "submit" name="multiplication" value="multiplication" />
			</p>

			<p>
			<input type = "submit" name="division" value="division" />
			</p>
		</form>

		<a href="/counting" > Linkt to counting </a>
	</body>
</html>